.navbar-brand{
    font-size: 2rem;
    color: rgb(238,11,105);
    font-family: 'Pacifico', cursive;
}
.navbar-brand:hover{
    color: black;
}
.nav-link{
    margin-right: 15px;
    margin-left: 15px;
    color: black;
    text-transform: uppercase;
    font-family: sans-serif;
}

.nav-link:hover{
    color: rgb(238,11,105);
}
.fas , .fab{
    color: rgb(238,11,105);
    font-size: 1.25rem;
    cursor: pointer;
}